body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.color{
    color: yellow;
}
.half{
    width: 40%;
    float: left;
    padding: 2%;
    margin: 5%;



}  
}
.img{
    width: 100%;
}