body{
    font-family: 'Open Sans', sans-serif;


}.color{
    color: goldenrod;
}
h2{
font-size: 80px;
line-height: 30px;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half img{
    width: 100%;
    margin-top: -150px;
    
}
p{
    padding-bottom: 50px;

}
.button{ 
    text-decoration: none;
    background-image: linear-gradient( 50deg, tomato, lightsalmon, violet );
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.half-2 img{
    width: 100%;
    margin-top:-150px ;
  
    

}
.half-2{
    width: 30%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.half-3 h1{
    text-align: center;
    font-weight: bold;

}
.half h1{
    padding-top: 50px;
    font-weight: bold;
}

.half-3{
    width: 25%;
    float: left;
    margin-left: 3%;
    padding-left: 2%;
}
.half-3 img{ width: 100%;
    padding-top: 150px;

}
.part-4{
    padding-right: 10px;
    padding-left: 10px;
}